body {
    background-color: rgb(17, 24, 39);
    /*rgb(31 41 55)*/
    color: rgb(207, 146, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.title,
.author {
    text-align: center;
}

.title {
    margin-bottom: 0;
}

.author {
    margin-top: 0;
}

.wrapper {
    display: flex;
    margin: 0 auto;
    height: 85vh;
    width: 150vh;
}

.recipe-box {
    margin: 0 30px 0 30px;
    height: 50%;
    width: 50%;
    border: solid 1px rgb(207, 146, 31);
}

.recipe-name {
    position: relative;
    top: 20%;
    left: 15%;
    font-size: 4em;
    color: rgb(90, 211, 161);
    z-index: 2;
}
@keyframes kabsa-animation {
    0% {
        background-image: url(images/kabsa.webp);
        background-size: cover;
        opacity: 0;
    }
    100% {
        background-image: url(images/kabsa.webp);
        background-size: cover;
        opacity: 1;
    }
}
@keyframes stuffedGrapeLeaves {
    0% {
        background-image: url(images/grapeLeaves.webp);
        background-size: cover;
        opacity: 0;
    }
    100% {
        background-image: url(images/grapeLeaves.webp);
        background-size: cover;
        opacity: 1;
    }
}
@keyframes kosharyanim {
    0% {
        background-image: url(images/koshary.webp);
        background-size: cover;
        opacity: 0;
    }
    100% {
        background-image: url(images/koshary.webp);
        background-size: cover;
        opacity: 1;
    }
    
}
.kabsa:hover {
    animation-name: kabsa-animation;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.grapeLeaves:hover {
    animation-name: stuffedGrapeLeaves;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.koshary:hover {
    animation-name: kosharyanim;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}